
:root{
    font-size: 20px;
}

body{
    text-align: center;
    font-family: sans-serif;
}

button{
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (width < 839px){
    :root {
        font-size: 24px;
    }
}
